body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    background-color: #ebe5f8;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ac9bd0;
    color: white;
    padding: 20px;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 5px 0;
    cursor: pointer;
}

.sidebar a:hover, .sidebar a.active {
    background-color: #653fc7;
}

.content {
    margin-left: 300px;
    padding: 20px;
    flex: 1;
    transition: opacity 0.3s ease-in-out;
}

.content div {
    display: none;
}

.content div.active {
    display: block;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #653fc7;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ac9bd0;
}

.btn:active {
    background-color: #450085;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel-container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.buttons button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.buttons button:hover {
    background: rgba(0, 0, 0, 0.8);
}

#voyage {
    margin: 30px;
    margin-left: 300px;
    padding-left: 10px; 
}

#contactManager {
    margin: 30px;
    margin-left: 300px;
    padding-left: 10px;
}